dotfiles/hyprland/.config/hypr/hypridle.conf whitespace=-blank-at-eol
dotfiles/hyprland/.config/hypr/hyprland.conf whitespace=-blank-at-eol
dotfiles/hyprlock/.config/hypr/hyprlock.conf whitespace=-blank-at-eol
